/* Style the toggle when it's checked */
.toggle:checked {
  background-color: white !important;
  --tglbg: #DE3163 !important;
}

/* Style the toggle when it's unchecked */
.toggle {
  background-color: #DE3163 !important;
  border-color: #c5c6c7;
}
